name: Tag CI

on:
  push:
    branches: [ master ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - run: npm ci
      - run: |
          git config user.name github-actions
          git config user.email github-actions[bot]@users.noreply.github.com
          npm version patch
          git push
          git push --tags
